extends layout

block content
  h1= title
  p Welcome to #{title}
  p Available Printers: #{printername}
  p Support Formats: #{printersupformat}
  p PaperSize: #{printerpapersize}
  p JobCommand: #{printerjobcommand}
  p DriverOptions: #{prninterdriveroptons}
  a(class='button' href='/printers/printpic') PrintTestImg
  br
  a(class='button' href='/') Home
